<h2 class="mt-4">Lista de Clientes</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th *ngIf="isAdmin">Asesor</th>
        <th>Nombre Completo</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Comercializadora</th>
        <th>Fecha Subida Contrato</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td *ngIf="isAdmin">{{ cliente.empleado.nombre }}</td>
        <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.companiaContratada }}</td>
        <td>{{ cliente.fechaSubidaContrato }}</td>
        <td class="d-flex">
          <button (click)="verCliente(cliente.idCliente)" class="btn btn-warning mr-2">Ver</button>
          <button (click)="actualizarCliente(cliente.idCliente)" class="btn btn-info mr-2">Editar</button>
          <button (click)="eliminarCliente(cliente.idCliente)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
