<div *ngIf="authService.isLoggedIn(); else notLoggedIn" class="ml-3 mr-3">
  <h2 class="mt-4">Lista de Clientes</h2>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-warning mr-5" routerLink="/registrar-cliente">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
      </svg> Añadir Cliente
    </button>
  
    <div class="form-group mb-0 mr-2">
      <select class="form-control form-control-sm mr-2" [(ngModel)]="selectedCompania">
        <option value="">Comercializadora</option>
        <option value="Endesa">Endesa</option>
        <option value="Iberdrola">Iberdrola</option>
        <option value="Naturgy">Naturgy</option>
      </select>
    </div>
  
    <input type="text" class="form-control form-control-sm mr-2 search-input" [(ngModel)]="searchText" placeholder="Buscar..." (input)="applyFilter()">
    <button class="btn btn-primary search-button">
      <span class="search-icon">🔍</span>
    </button>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mt-4">
        <img *ngIf="selectedCompania === 'Endesa'" src="assets/images/endesa.png" alt="Endesa" class="img-thumbnail">
        <img *ngIf="selectedCompania === 'Iberdrola'" src="assets/images/iberdrola.png" alt="Iberdrola" class="img-thumbnail">
        <img *ngIf="selectedCompania === 'Naturgy'" src="assets/images/naturgy.png" alt="Naturgy" class="img-thumbnail">
      </div>
    </div>
  </div>
  

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th *ngIf="isAdmin" (click)="sort('nombre')" scope="col">Asesor <span class="arrow" *ngIf="orderBy === 'nombre'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sort('nombre')" scope="col">Nombre Completo <span class="arrow" *ngIf="orderBy === 'nombre'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sort('dni')" scope="col">DNI <span class="arrow" *ngIf="orderBy === 'dni'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sort('telefono')" scope="col">Telefono <span class="arrow" *ngIf="orderBy === 'telefono'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sort('companiaContratada')" scope="col">Comercializadora <span class="arrow" *ngIf="orderBy === 'companiaContratada'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th (click)="sort('fechaSubidaContrato')" scope="col">Fecha Subida Contrato <span class="arrow" *ngIf="orderBy === 'fechaSubidaContrato'">&nbsp;{{ order === 'asc' ? '▲' : '▼' }}</span></th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of filteredClientes">
          <td *ngIf="isAdmin">alvrich</td>
          <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>
            {{ cliente.companiaContratada }}
            <div *ngIf="cliente.logo">
              <img [src]="cliente.logo" alt="Logo Comercializadora" class="img-thumbnail" width="100">
            </div>
          </td>
          <td>{{ cliente.fechaSubidaContrato }}</td>
          <td class="d-flex">
            <button (click)="verCliente(cliente.idCliente)" class="btn btn-info mr-2">
              <i class="bi bi-eye"></i> Ver
            </button>
            <button (click)="actualizarCliente(cliente.idCliente)" class="btn btn-warning mr-2">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button (click)="eliminarCliente(cliente.idCliente)" class="btn btn-danger">
              <i class="bi bi-trash3"></i> Borrar
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredClientes.length === 0">
          <td colspan="7" class="text-center">No se encontraron resultados</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="alert alert-warning mt-4" role="alert">
    Debes iniciar sesión para ver la lista de clientes.
  </div>
</ng-template>
