<!-- registrar-cliente.component.html -->
<div class="col-md-6 offset-md-3 mt-4">
    <h3 class="text-center">Registro de Cliente</h3>
    <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
        <!-- Otros campos -->
        <div class="form-group">
            <label>Comercializadora:</label>
            <select class="form-control" id="comercializadora" [(ngModel)]="cliente.companiaContratada" name="comercializadora" required>
                <option value="Endesa">Endesa</option>
                <option value="Iberdrola">Iberdrola</option>
                <option value="Naturgy">Naturgy</option>
            </select>
            <div class="mt-2">
                <img *ngIf="cliente.companiaContratada === 'Endesa'" src="assets/endesa.png" alt="Endesa" class="img-thumbnail" width="50">
                <img *ngIf="cliente.companiaContratada === 'Iberdrola'" src="assets/iberdrola.png" alt="Iberdrola" class="img-thumbnail" width="50">
                <img *ngIf="cliente.companiaContratada === 'Naturgy'" src="assets/naturgy.png" alt="Naturgy" class="img-thumbnail" width="50">
            </div>
        </div>
        <!-- Otros campos -->
        <button type="submit" class="btn btn-success" [disabled]="!clienteForm.valid">Registrar Cliente</button>
    </form>
</div>
