<div class="col-md-6 offset-md-3 mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Registro de Cliente</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">

                <!-- Nombre y Apellidos -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="cliente.nombre" name="nombre"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" [(ngModel)]="cliente.apellidos"
                            name="apellidos" required>
                    </div>
                </div>

                <!-- DNI y Email -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dni">DNI</label>
                        <input type="text" class="form-control" id="dni" [(ngModel)]="cliente.dni" name="dni" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="cliente.email" name="email"
                            required>
                    </div>
                </div>

                <!-- CUPS y Comercializadora -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cups">CUPS</label>
                        <input type="text" class="form-control" id="cups" [(ngModel)]="cliente.cups" name="cups"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="comercializadora">Comercializadora</label>
                        <select class="form-control" id="comercializadora" [(ngModel)]="cliente.companiaContratada"
                            name="companiaContratada" required (change)="selectComercializadora()">
                            <option value="">Seleccionar...</option>
                            <option value="Endesa">Endesa</option>
                            <option value="Iberdrola">Iberdrola</option>
                            <option value="Naturgy">Naturgy</option>
                        </select>
                        <div class="mt-2">
                            <img *ngIf="cliente.companiaContratada === 'Endesa'" src="assets/images/endesa.png"
                                alt="Endesa" class="img-thumbnail" width="100">
                            <img *ngIf="cliente.companiaContratada === 'Iberdrola'" src="assets/images/iberdrola.png"
                                alt="Iberdrola" class="img-thumbnail" width="100">
                            <img *ngIf="cliente.companiaContratada === 'Naturgy'" src="assets/images/naturgy.png"
                                alt="Naturgy" class="img-thumbnail" width="100">
                        </div>
                    </div>
                </div>

                <!-- Fecha de Subida del Contrato, IBAN y Dirección -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fechaSubidaContrato">Fecha de Subida del Contrato</label>
                        <input type="date" class="form-control" id="fechaSubidaContrato"
                            [(ngModel)]="cliente.fechaSubidaContrato" name="fechaSubidaContrato">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="iban">IBAN</label>
                        <input type="text" class="form-control" id="iban" [(ngModel)]="cliente.iban" name="iban">
                    </div>
                </div>

                <!-- Campo de Dirección -->
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" [(ngModel)]="cliente.direccion"
                        name="direccion">
                </div>
                <!-- Telefono -->
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" [(ngModel)]="cliente.telefono"
                        name="telefono" #telefono="ngModel">
                        <div *ngIf="telefono.errors && telefono.errors['required']">
                            El número de teléfono es obligatorio.
                          </div>
                </div>

                <!-- Botón de submit -->
                <button type="submit" class="btn btn-success" [disabled]="!clienteForm.valid">Registrar Cliente</button>
            </form>
        </div>
    </div>
</div>