<footer>
    <ul class="wrapper">
      <li class="ss facebook">
        <a href="#" target="_blank">
          <span class="tooltip">Facebook</span>
          <span><i class="bi bi-facebook"></i></span>
        </a>
      </li>
      <li class="ss twitter">
        <a href="#" target="_blank">
          <span class="tooltip">Twitter</span>
          <span><i class="bi bi-twitter"></i></span>
        </a>
      </li>
      <li class="ss instagram">
        <a href="#" target=" _blank">
          <span class="tooltip">Instagram</span>
          <span><i class="bi bi-instagram"></i></span>
        </a>
      </li>
      <li class="ss github">
        <a href="https://github.com/alvrichh" target="_blank">
          <span class="tooltip">Github</span>
          <span><i class="bi bi-github"></i></span>
        </a>
      </li>
      <li class="ss youtube">
        <a href="#" target="_blank">
          <span class="tooltip">Youtube</span>
          <span><i class="bi bi-youtube"></i></span>
        </a>
      </li>
    </ul>
    <section class="info text-center">
      <div class="container">
        <div class="row">
          <!-- Acerca de Nosotros -->
          <div class="col-lg-4">
            
              <h2>Acerca de Nosotros </h2>
              <abbr title="Seguiremos mejorando. ❤">👨‍👩‍👦‍👦</abbr>
            <p class="lead">Trabajo de fin de grado, 2DAWº. Instituto IES ALIXAR 2024 <br><em>Autor: Álvaro
                Rodríguez Molina</em></p>
          </div>
          <!-- Suscripción a la Newsletter -->
          <div class="col-lg-4">
            <h2>Suscríbete a nuestra Newsletter!</h2>
            <!-- <form action="#" method="post" class="needs-validation" novalidate>-->
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Tu correo electrónico"
                aria-label="Tu correo electrónico" required>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="newsletter" data-bs-toggle="modal"
                  data-bs-target="#subscribeModal">Suscríbete</button>
              </div>
            </div>
            <div class="invalid-feedback">
              Por favor, ingresa una dirección de correo electrónico válida.
            </div>
            <!--  </form>-->
            <p class="lead">Deja tu correo para estar al tanto de nuestras actualizaciones.</p>
          </div>

          <!-- Modal de Suscripción -->
          <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="subscribeModalLabel">¡Enhorabuena!🎉</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Te has suscrito a nuestra newsletter. ¡Gracias por unirte! 😊
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- © Copyleft -->
          <div class="col-lg-4">
            <h2>© Copyright</h2>
            <a href="https://creativecommons.org/public-domain/cc0/"><img src="/assets/images/CC.png" alt="CC"
              class="img-fluid"></a>
          </div>
        </div>
      </div>
    </section>

  </footer>