<div class="container mt-4">
  <!-- Contenedor de video antes de las filas -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
          <source src="assets/images/Stratton_Global_Sin.mp4" type="video/mp4">
          Tu navegador no soporta la reproducción de video.
        </video>
      </div>
    </div>
  </div>

  <!-- Contenedor de reseñas -->
  <div class="row">
    <div class="col-md-12">
      <h2>Reseñas de Google</h2>
    </div>
  </div>

  <div class="row">
    <!-- Iteración sobre las reseñas -->
    <div class="col-md-4" *ngFor="let review of googleReviews">
      <div class="card mb-4">
        <div class="card-body d-flex align-items-center">
          <!-- Imagen o avatar del autor de la reseña en un círculo -->
          <div class="avatar-container">
            <img class="img-fluid rounded-circle" [src]="review.authorAvatar" alt="Avatar">
          </div>
          <!-- Contenido a la derecha de la imagen -->
          <div class="ml-3">
            <!-- Nombre del autor -->
            <h5 class="card-title">{{ review.authorName }}</h5>
            <!-- Calificación de la reseña -->
            <p class="card-text">Calificación:
              <span *ngFor="let star of stars(review.rating)">
                &#9733; <!-- Emoticono de estrella rellena -->
              </span>
            </p>
            <!-- Contenido de la reseña -->
            <p class="card-text">{{ review.content }}</p>
            <!-- Fecha de la reseña -->
            <p class="card-text"><small class="text-muted">{{ review.date }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mapa -->
  <div class="row">
    <div class="col-md-6">
      <h2>Ubicación</h2>
      <img src="https://www.google.com/maps/vt/data=56s5aIAXubekNScHd6LmjI-88gO3sUSJ8-rc2Yk5A1Yb-3n0xlnAzAh4j2_GB0M-HUfoxaasAIiZGCdm9YqXSIh26zT8_fX2kgV9TOwZ6KMADjh1qIeka-OyMypjA2VMxUR7Kgcqb3TA9zJvrMnTx5DhWhxLwCtYbuBkVdRZsvBGq5XGNyQIi-rTfTTY3Xs9HSTRFeZGabje6gKMIVUYIv3BX4yYIFqqTxA48oFvPOmVpBeimiFHn1fF_JtMf6ke-bv_a0KqkauOCIppNgKLQz30WiigDRakldxflLxGyw" class="col-md-12">

      <!--<div id="mapa" style="height: 400px;">

      </div>-->

    </div>
  </div>

</div>
