<div class="container" role="main">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="assets/images/StrattonAPPlogo2.png" alt="Logo de StrattonApp" class="img-fluid mb-4 app">
            <div class="card" role="form" aria-labelledby="login-heading">
                <div class="card-header">
                    <h1 id="login-heading" class="text-center">Login</h1>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Ingresa tu usuario" [(ngModel)]="username" name="username" aria-label="Usuario" aria-required="true" onkeydown="focusNextInput(event)">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password" aria-label="Contraseña" aria-required="true">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" (click)="login()">Iniciar Sesión</button>
                    </form>
                    <br>
                    <p>No tienes cuenta? 
                        <a class="mt-1" [routerLink]="['/register']" routerLinkActive="router-link-active" aria-label="Registrarse">Registrarse</a>
                    </p>
                </div>
            </div>
        </div>
    </div>  
</div>
