<div class="container mt-5">
    <h2 class="mb-4 text-center">Detalles del Empleado</h2>
    <div class="card">
        <div class="row no-gutters">
            <!-- Columna 1: Foto del empleado -->
            <div class="col-md-4 d-flex align-items-center justify-content-center p-3">
                <img *ngIf="empleado.foto" [src]="empleado.foto" class="card-img img-fluid rounded-circle"
                    alt="Foto de {{ empleado.nombre }}">
                <div *ngIf="!empleado.foto" class="alert alert-info text-center">
                    No hay foto disponible
                </div>
            </div>

            <!-- Columna 2: Detalles del empleado -->
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-title">{{ empleado.nombre }} {{ empleado.apellidos }}</h3>
                    <p class="card-text"><strong>ID:</strong> {{ empleado.id }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ empleado.email }}</p>
                    <p class="card-text"><strong>Usuario:</strong> {{ empleado.username }}</p>
                    <p class="card-text"><strong>Asesoria:</strong> Stratton Global {{ empleado.asesoria }}</p>
                    <p class="card-text"><strong>Roles:</strong> {{ empleado.role }}</p>
                </div>
            </div>

            <!-- Columna 3: Estadísticas de suministros -->
            <div class="col-md-4 mb-2 mt-2">
                <div>
                    <div class="bg-success text-white p-3 rounded">
                        <h4 class="mb-0">Suministros Activos</h4>
                        <h2>{{ totalClientes }}</h2>
                    </div>
                    <div class="bg-warning text-white p-3 rounded mt-2">
                        <h4 class="mb-0">Suministros Pendientes</h4>
                        <h2>{{ totalClientes }}</h2>
                    </div>
                    <div class="bg-danger text-white p-3 rounded mt-2">
                        <h4 class="mb-0">Suministros K.O.</h4>
                        <h2>{{ totalClientes }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clientesModal">
            Ver Clientes
        </button>
        <button class="btn btn-secondary ml-2" routerLink="/empleados">Regresar</button>
    </div>
</div>

<!-- Modal para mostrar los clientes -->
<div class="modal fade" id="clientesModal" tabindex="-1" role="dialog" aria-labelledby="clientesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientesModalLabel">Clientes del Empleado {{ empleado.nombre }} {{
                    empleado.apellidos }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Lista de clientes -->
                <ul class="list-group">
                    <li *ngFor="let cliente of empleado.clientes" class="list-group-item">
                      {{ cliente.nombre }} - {{ cliente.apellidos }}
                    </li>
                  </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>