<div class="col-md-6 offset-md-3 mt-4">
  <h3 class="text-center">Registro de empleado</h3>
  <form (ngSubmit)="onSubmit()" #empleadoForm = "ngForm">
    <div class="form-group">
      <label>Nombre: </label>
      <input type="text" 
             class="form-control"
             id="nombre"
             [(ngModel)]="empleado.nombre"
             name="nombre"
             required
             minlength="4"
             maxlength="10"
             placeholder="Nombre del empleado"
             #nombre="ngModel">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf= "nombre.errors && nombre.errors['required']">
          Escriba el nombre del empleado, por favor.
        </div>
        <div *ngIf= "nombre.errors && nombre.errors['minlength']">
          El nombre debe tener al menos 4 caracteres.
        </div>
        <div *ngIf= "nombre.errors && nombre.errors['maxlength']">
          El nombre no puede tener más de 10 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Apellido: </label>
      <input type="text" 
             class="form-control"
             id="apellido"
             [(ngModel)]="empleado.apellido"
             name="apellido"
             required
             placeholder="Apellido del empleado"
             #apellido="ngModel">
      <div class= "alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
        <div *ngIf="apellido.errors && apellido.errors['required']">
          Escriba el apellido del empleado, por favor.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email: </label>
      <input type="email" 
             class="form-control"
             id="email"
             [(ngModel)]="empleado.email"
             name="email"
             required
             placeholder="Email del empleado"
             #email="ngModel"
             pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
             <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf= "email.errors && email.errors['required']">
          Escriba el email del empleado, por favor.
        </div>
        <div *ngIf= "email.errors && email.errors['email']">
          El email no es válido.
        </div>
        <div *ngIf= "email.errors && email.errors['pattern']">
          El email debe tener formato de de correo electrónico.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input type="text"
             class="form-control"
             id="usuario"
             [(ngModel)]="empleado.usuario"
             name="usuario"
             required
             placeholder="Nombre de usuario"
             #usuario="ngModel">
      <div class="alert alert-danger" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
        <div *ngIf="usuario.errors && usuario.errors['required']">
          Por favor, ingrese un nombre de usuario.
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password"
             class="form-control"
             id="password"
             [(ngModel)]="empleado.password"
             name="password"
             required
             minlength="6"
             placeholder="Contraseña"
             #password="ngModel">
      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors && password.errors['required']">
          Por favor, ingrese una contraseña.
        </div>
        <div *ngIf="password.errors && password.errors['minlength']">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>
    </div>
 

    
    <div class="form-group">
      <label for="roles">Rol:</label>
      <select class="form-control"
              id="roles"
              [(ngModel)]="empleado.roles"
              name="roles"
              required
              multiple>
        <option *ngFor="let rol of rolesDisponibles" [value]="rol">{{ rol }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="empleadoForm.controls['roles']?.invalid && (empleadoForm.controls['roles']?.dirty || empleadoForm.controls['roles']?.touched)">
        <div *ngIf="empleadoForm.controls['roles']?.errors && empleadoForm.controls['roles']?.errors['required']">
          Por favor, seleccione al menos un rol.
        </div>
      </div>
    </div>
    
    <button class="btn btn-success" [disabled]= "!empleadoForm.valid">Guardar</button>
  </form>
</div>
